# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.npy
*.pkl
papers_meta.json
backend/papers.db

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
backend/.env
frontend/.env

# OS
.DS_Store
Thumbs.db
